able, th, td {
   border-collapse:collapse;
   border:1px solid black;
}
body {
    padding:30px
}
#t1 {
    margin-left:50px;
}
.title {
    font:200px sans-serif;
}
td {
  text-align:center;
  padding:5px;
}
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.chart rect {
  fill: steelblue;
}
.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}
.graph {
    margin-bottom: 30px;
    margin-top: 30px;
}
.graphtitle {
    font-size: 30px;
}
.datapoint:hover{
    fill: steelblue;
}
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}
.bar rect:hover{
  fill: rgba(0,0,0,.8);
}
.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
path {
  stroke: steelblue;
  stroke-width: 3;
  fill: none;
}
.axis {
  shape-rendering: crispEdges;
}
.label {
  font-weight:bold
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
#tiptable, #tiptable tr, #tiptable td {
    border-collapse:collapse;
    border-style:none;
    border-color:steelblue;
}